# python script ignores
/statistics_calculation/__pycache__/
/statistics_calculation/.venv/

# output files to ignore
/statistics_calculation/stats_output_files/
/statistics_calculation/plots_outdir/
